

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
    .container{
        display:grid;
        grid-template-columns: 1fr 3fr;
     }
    </style>
</head>
{% extends 'main.html' %}

{% block content %}
<body>
    <h1 style="text-align:center">Home Page</h1>

    <div class="container">

        <div>
            <h3>Topics are mentioned below</h3>
            <hr>
            <div style="margin:10px">
                <a href = "{% url 'home' %}">All</a>
            </div>
            {% for topic in topic %}
                <div style="margin:10px">
                    <a href = "{% url 'home' %}?q={{topic.topic_name}}">{{topic.topic_name}}</a>
                </div>
            {% endfor %}
        </div>


        <div>
                 <p><a href="{% url 'create_room' %}">Create New room</a></p>

                 <p> Below rooms are available</p>
                {% for room in rooms %}
                <div>
                    {% if request.user == room.host %}
                        <a href="{% url 'update_room' room.id %}">Edit Room</a>
                        <a href="{% url 'delete_room' room.id %}">Delete Room</a>
                    {% endif %}
                    <span>Created by @{{room.host.username}}</span>
                    <p>{{room.id}}.<a href="/room/{{room.id}}">{{room.room}}</a></p>
                    <small>Topic: {{room.topic.topic_name}}</small>
                </div>

                 <hr>
                {% endfor %}
                <div>Total Rooms available: {{room_count}}</div>
        </div>

    </div>
</body>
{% endblock %}

</html>



<!--Note:-->
<!--1. extend is used to inherit the properties of main.html-->
<!--2. block content is used to get the content from main.html-->
<!--3. endblock is used to end the extraction of content from main.html
By using {% for elem in list %} to loop elements and {% endfor %} to stop for loop
In 19 line we can use use {% url 'room' %} so that we don't have to change url eveytime if there is a change
in base.urls

In line 22 update_room is added along with its id