<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'main.html' %}
<body>
    {% block content %}
<!--    <div>-->
<!--        {% if messages %}-->

<!--                <ul>-->
<!--                    {% for message in messages %}-->
<!--                        <li>{{message}}</li>-->
<!--                </ul>-->

<!--            {% endfor %}-->
<!--        {% endif %}-->
<!--    </div>-->
    {% if page == 'login' %}
    <div>
        {{page}}
        <form method="POST" action="">
            {% csrf_token %}
            <div>
                <label>Username</label>
                <input type="text" name="username" placeholder="Enter your username">
            </div>

            <div>
                <label>Password</label>
                <input type ='text' name = 'password' placeholder="Enter your password"
            </div>

            <div>
                <input type="submit" value="Login">
            </div>

            <p>Do not have Account?</p>
        <a href="{% url 'register' %}">Register</a>
        </form>

    </div>

    {% else %}

         <div>
            <form method="POST" action="">
                {% csrf_token %}
                <div>
                    {{form.as_p}}
                </div>
                <div>
                    <input type="submit" value="Register">
                </div>

                <p>Already signed up?</p>
                <a href="{% url 'login' %}">Login</a>
            </form>

        </div>

    {% endif %}
    {% endblock %}



</body>
</html>