<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
    <style>
        .container{
        display: grid;
        grid-template-columns: 2fr 1fr
    </style>
</head>
{% extends 'main.html' %}

{% block content %}

    <body>
        <div class="container">


              <div class="message-wrapper">


                  <h1>Conversations</h1>
                  <hr />

                  {% for message in room_messages %}
                    <div>
                        {% if request.user == message.user %}
                            <a href="{% url 'delete_msg' message.id %}">Delete</a>
                        {% endif %}
                        <small>@{{message.user}} {{message.created_at | timesince}} ago</small>
                        <p>{{message.message}}</p>
                        <hr>

                    </div>
                  {% endfor %}

                  <div>
                    <form method="POST" action ="">
                        {% csrf_token %}
                        <input type="text" name="body" placeholder="Write your message" >

                    </form>

                  </div>

              </div>



            <div>
                <p>Participants</p>
                {% for user in participants %}
                    <p>@ {{user.username}}</p>
                {% endfor %}
            </div>
        </div>

    </body>
{% endblock %}
</html>

<!--Note:-->
<!--1. extend is used to inherit the properties of main.html-->
<!--2. block content is used to get the content from room.html-->
<!--3. endblock is used to end the extraction of content from room.html-->